h1,
form {
  width: 20rem;
  margin: auto;
}

form {
  margin-top: 5rem;
}

button {
  margin: 1rem 1rem 0 0;
}

.input-invalid {
  border: 1px solid salmon;
}

input:focus {
  box-shadow: 0 0 0 0.2rem #bfdbfe;
}
