<div class="mt-4">
  <h1>Shipping Prices</h1>
  <p class="mb-12 text-sm italic">To avoid unexpected surprises, it may be wise to familiarize yourself with the list of potential logistical issues below.</p>

  <p-accordion [activeIndex]="0">
    <p-accordionTab header="Current Rates">
      @for (shipping of shippingCosts$ | async; track $index) {
      <div>
        <span>{{ shipping.type }}: {{ shipping.price | currency }}</span>
      </div>
      }
    </p-accordionTab>
    <p-accordionTab header="Common Shipping Issues">
      <ul class="ml-4 list-disc">
        <li>Flat tire (dispatchers' signature)</li>
        <li>The vanished inventory</li>
        <li>The great last-mile adventure</li>
        <li>Lost somewhere between "Out for delivery" and "Never to be seen"</li>
        <li>Driver got hungry, stopped for a 3-hour lunch</li>
        <li>The road-trip toll (gas prices, but make it dramatic)</li>
        <li>Weather vs. your delivery: an ongoing feud</li>
        <li>Courier GPS: optional, apparently</li>
        <li>The mysterious case of "Address Not Found"</li>
        <li>The packaging shortage extravaganza</li>
        <li>The epic tale of forklift breakdowns and pallet pileups</li>
      </ul>
    </p-accordionTab>
  </p-accordion>

  <button class="mt-8" (click)="goBack()">Back</button>
</div>
