<h3>Cart</h3>

<button id="btn" routerLink="/shipping">Shipping Prices</button>

<div class="cart-item" *ngFor="let item of cartItems">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
  <button id="btn" (click)="removeItem(item)">X</button>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name</label>
    <input id="name" type="text" formControlName="name" />
  </div>
  <div>
    <label for="address">Address</label>
    <input id="address" type="text" formControlName="address" />
  </div>
  <button id="btn" class="button" type="submit">Checkout</button>
</form>
