<div class="grid grid-cols-7 gap-4 w-full">
  <div class="flex flex-col justify-between p-4">
    <h2 class="font-light">Got old junk to sell?</h2>
    <button class="self-end bg-emerald-600" routerLink="new">Post it</button>
  </div>
  <div *ngFor="let product of products" class="flex flex-col justify-between p-4 border rounded text-left">
    <h3 class="py-1 font-light">{{ product.name }}</h3>
    <p class="py-1" *ngIf="product.description">{{ product.description }}</p>
    <div class="py-1 flex justify-between">
      <p *ngIf="product.description">{{ product.price | currency }}</p>
      <p class="text-emerald-500" *ngIf="product.inStock; else outOfStock">Available</p>
    </div>
    <ng-template #outOfStock>
      <p class="text-red-300">Out of Stock</p>
    </ng-template>
    <button class="self-end" type="button" [title]="product.name + ' details'" [routerLink]="['/products', product.id]">Details</button>
  </div>
</div>
