<div class="w-full flex flex-col items-center mt-4">
  <h1>Posted Products</h1>
  <div class="w-full flex flex-col my-12">
    <div class="flex justify-between p-4 bg-gray-100 border">
      <div class="w-1/5">Name</div>
      <div class="w-1/5">Description</div>
      <div class="flex justify-evenly w-1/5">
        <div class="w-1/5">Price</div>
        <div class="w-1/5">Stock</div>
      </div>
      <div class="w-1/12 text-center">Posted On</div>
      <div class="w-1/12"></div>
    </div>
    @for (product of myProducts$ | async; track $index) {
    <div class="flex justify-between items-center p-4 border rounded">
      <h3 class="w-1/5 font-light">{{ product.name }}</h3>
      <p class="w-1/5">{{ product.description }}</p>
      <div class="flex justify-evenly w-1/5">
        <p class="w-1/5">{{ product.price | currency }}</p>
        @if (product.inStock) {
        <p class="text-emerald-500">Available</p>
        } @else {
        <p class="text-red-400">Sold</p>
        }
      </div>
      <p class="w-1/12 text-center">{{ product.createdAt | date }}</p>
      <button class="w-1/12" type="button" [title]="product.name + ' details'" [routerLink]="['/products', product._id]">Details</button>
    </div>
    }
  </div>
</div>
